@model Security_Guard.Models.Article

@{
    ViewData["Title"] = "Edit Article";
    var article = ViewBag.Article as Security_Guard.Models.Article;
}

<h1>Edit Article</h1>

<form class="row g-3" asp-controller="Articles" asp-action="UpdateArticle" method="post">
    <input type="hidden" name="Id" value="@article.Id" />

    <div class="col-md-6">
        <label for="Title" class="form-label">Article Title</label>
        <input type="text" class="form-control" id="Title" name="Title" value="@article.Title" />
    </div>
    <div class="input-group">
        <span class="input-group-text">Description</span>
        <textarea class="form-control" aria-label="With textarea" name="Content">@article.Content</textarea>
    </div>
    <div class="col-md-4">
        <label for="Rating" class="form-label">Rating</label>
        <select id="inputState" class="form-select" name="Rating" asp-for="Rating">
            <option selected>Choose...</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="ImageURL" class="form-label">Image URL</label>
        <input class="form-control" type="url" id="ImageURL" name="ImageURL" value="@article.ImageURL" />
    </div>
    <div class="col-md-2">
        <label for="SourceURL" class="form-label">Source URL</label>
        <input class="form-control" type="url" id="SourceURL" name="SourceURL" value="@article.SourceURL" />
    </div>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="IsFeatured" value="true" name="IsFeatured"
            @(article.IsFeatured ? "checked" : "") asp-for="IsFeatured" />
        <label class="form-check-label" for="IsFeatured">Is Featured?</label>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update Article</button>
    </div>
</form>
