@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager
@inject IAuthorizationService AuthorizationService

@{
  var authorizationResult = User.HasClaim(c => c.Type == "Permission" && c.Value == "Post Article");
  var currentUser = await userManager.GetUserAsync(User);
  ViewData["Title"] = "Articles";

  Article FeaturedArticle = ViewBag.FeaturedArticle;

  if (FeaturedArticle == null)
  {
    FeaturedArticle = new Article();
    FeaturedArticle.Title = "Security Guard";
    FeaturedArticle.Summary = "Where the AI meets CyberSecurity";
    FeaturedArticle.ImageURL = "http://localhost:5183/Logo.png";
    FeaturedArticle.SourceURL = "http://localhost:5183/Logo.png";
  }

  @* Layout = ""; *@
}
<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <script src="../assets/js/color-modes.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.122.0">
  <title>Blog Template · Bootstrap v5.3</title>

  @* <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/blog/"> *@
  @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@docsearch/css@3"> *@
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  @* <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"> *@

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @@media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    /* stylelint-disable @@stylistic/selector-list-comma-newline-after */

    .blog-header-logo {
      font-family: "Playfair Display", Georgia, "Times New Roman", serif
        /*rtl:Amiri, Georgia, "Times New Roman", serif*/
      ;
      font-size: 2.25rem;
    }

    .blog-header-logo:hover {
      text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Playfair Display", Georgia, "Times New Roman", serif
        /*rtl:Amiri, Georgia, "Times New Roman", serif*/
      ;
    }

    .flex-auto {
      flex: 0 0 auto;
    }

    .h-250 {
      height: 250px;
    }

    @@media (min-width: 768px) {
      .h-md-250 {
        height: 250px;
      }
    }

    /* Pagination */
    .blog-pagination {
      margin-bottom: 4rem;
    }

    /*
 * Blog posts
 */
    .blog-post {
      margin-bottom: 4rem;
    }

    .blog-post-meta {
      margin-bottom: 1.25rem;
      color: #727272;
    }

    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
      --bd-violet-bg: #712cf9;
      --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #6528e0;
      --bs-btn-hover-border-color: #6528e0;
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #5a23c8;
      --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
      z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
      display: block !important;
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="blog.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <header class="border-bottom lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="link-secondary" href="#">Subscribe</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">Security Guard Blogs</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          @* <a class="link-secondary" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
          viewBox="0 0 24 24">
          <title>Search</title>
          <circle cx="10.5" cy="10.5" r="7.5" />
          <path d="M21 21l-5.2-5.2" />
          </svg>
          </a> *@
          @if (currentUser != null && authorizationResult)
          {
            <a class="btn btn-sm btn-outline-success" role="button" asp-controller="Articles" asp-action="AddArticle">Post
              Article</a>
          }
        </div>
      </div>
    </header>

    <div class="nav-scroller py-1 mb-3 border-bottom">
      <nav class="nav nav-underline justify-content-between">
        <a class="nav-item nav-link link-body-emphasis active" href="#">Computer Science</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">CyberSecurity</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Technology</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Web Dev</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Game Dev</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Artificial Intelligence</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Mobile Dev</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">UI / UX</a>
      </nav>
    </div>
  </div>

  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary d-flex align-items-center">
      <!-- Text Section -->
      <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">@FeaturedArticle.Title</h1>
        <p class="lead my-3">@FeaturedArticle.Summary</p>
        <p class="lead mb-0">
          <a role="button" asp-controller="Articles" asp-action="ViewArticle2" asp-route-id="@FeaturedArticle.Id"
            class="text-body-emphasis fw-bold">Continue reading...</a>
        </p>
      </div>
      <!-- Image Section -->
      <div class="col-lg-6 d-none d-lg-block">
        <img src="@FeaturedArticle.ImageURL" alt="Featured Article Image" class="img-fluid rounded">
      </div>
    </div>

    <div class="row mb-2">
      @* <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
      <h3 class="mb-0">Featured post</h3>
      <div class="mb-1 text-body-secondary">Nov 12</div>
      <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional
      content.</p>
      <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
      Continue reading
      <svg class="bi"><use xlink:href="#chevron-right"/></svg>
      </a>
      </div>
      <div class="col-auto d-none d-lg-block">
      <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
      aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
      focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%"
      fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      </div>
      </div>
      </div> *@
      @* ---------------------- *@
      @* <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
      <h3 class="mb-0">Featured post</h3>
      <div class="mb-1 text-body-secondary">Nov 12</div>
      <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional
      content.</p>
      <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
      Continue reading
      <svg class="bi"><use xlink:href="#chevron-right"/></svg>
      </a>
      </div>
      <div class="col-auto d-none d-lg-block">
      <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
      aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
      focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%"
      fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      </div>
      </div>
      </div> *@
      @* ----------------------- *@
      @{
        foreach (var Article in ViewBag.Articles)
        {
          string imagePath = "~/Articles/" + Article.Title + ".png";

          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                @* <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong> *@
                <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                <h3 class="mb-0">@Article.Title</h3>
                <div class="mb-1 text-body-secondary">@Article.</div>
                <p class="mb-auto">@Article.Summary</p>
                @* shall be called lead *@
                <a class="icon-link gap-1 icon-link-hover stretched-link" role="button" asp-controller="Articles"
                  asp-action="ViewArticle2" asp-route-id="@Article.Id">
                  Continue reading
                  <svg class="bi">
                    <use xlink:href="#chevron-right" />
                  </svg>
                </a>
              </div>
              <div class="col-auto d-none d-lg-block">
                @* <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
            focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%"
            y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> *@
                @* <img style="background-size: cover; overflow: hidden;" src="@Url.Content(imagePath)" width="200"
            height="250" alt="Protection"> *@
                <div
                  style="width: 200px; height: 250px; background-image: url('@Url.Content(Article.ImageURL)'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                </div>
              </div>
            </div>
          </div>
          @* --------------------------------------------------------------------- *@

          @* <div class="col-md-4">
      <div class="card mb-4">
      <img src="@Url.Content(imagePath)" alt="Image for @Article.Title" class="card-img-top">
      <div class="card-body">
      <h5 class="card-title">@Article.Title</h5>
      @{
      for (var c = 0; c < Article.Rating; c++)
      {
      <i class="fa fa-star" style="color: #ede332;" aria-hidden="true"></i>
      }
      }
      <div class="mt-1">
      <a class="btn btn-primary" role="button" asp-controller="Articles" asp-action="ViewArticle2"
      asp-route-id="@Article.Id">View</a>
      <a class="btn btn-outline-danger" asp-controller="Articles" asp-action="Delete" asp-route-id="@Article.Id">
      <i class="bi bi-trash"></i> Delete
      </a>
      </div>
      </div>
      </div>
      </div> *@
        }
      }
    </div>

  </main>

  <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
        href="https://twitter.com/mdo">@@mdo</a>.</p>
    <p class="mb-0">
      <a href="#">Back to top</a>
    </p>
  </footer>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>