@{
    ViewData["Title"] = "Articles";
}
<div class="container p-3">
    <div class="row">
        <div class="col">
            <h2>Top Enterprise-Level virus scanning websites</h2>
        </div>
        <div class="col text-end">
            <a class="btn btn-primary" role="button" asp-controller="Articles" asp-action="AddArticle">Add New</a>
        </div>
    </div>
</div>

<hr />
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Warning!</strong> We are not responsible for their scanning, we are sharing them to benefit you only!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container">
    <div class="row">
        @{
            foreach (var Article in ViewBag.Articles)
            {
                string imagePath = "~/Articles/" + Article.Title + ".png";
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="@Url.Content(Article.ImageURL)" alt="Image for @Article.Title" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@Article.Title</h5>
                            @{
                                for (var c = 0; c < Article.Rating; c++)
                                {
                                    <i class="fa fa-star" style="color: #ede332;" aria-hidden="true"></i>
                                }
                            }
                            <div class="mt-1">
                                <a class="btn btn-primary" role="button" asp-controller="Articles" asp-action="ViewArticle"
                                    asp-route-id="@Article.Id">View</a>
                                <a class="btn btn-outline-danger" asp-controller="Articles" asp-action="Delete"
                                    asp-route-id="@Article.Id">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
