<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Table of Files and Links</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>UserName</th>
                                    <th>FileName</th>
                                    <th>DateTime</th>
                                    <th>Status</th>
                                    <th>URL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="6" class="table-header">Files</td>
                                </tr>
                                @{
                                    foreach (var file in Model.Files)
                                    {
                                        <tr>
                                            <td>@file.Id</td>
                                            <td>@file.UserName</td>
                                            <td>@file.FileName</td>
                                            <td>@file.DateTime</td>
                                            <td>@file.Status</td>
                                            <td>@file.URL</td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td colspan="6" class="table-header">Links</td>
                                </tr>
                                @{
                                    foreach (var link in Model.Links)
                                    {
                                        <tr>
                                            <td>@link.Id</td>
                                            <td>@link.UserName</td>
                                            <td></td> <!-- No FileName for Links -->
                                            <td>@link.DateTime</td>
                                            <td>@link.Status</td>
                                            <td>@link.URL</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


