@using Security_Guard.Areas.Admin.Models
@model UserViewModel
@{
    ViewData["Title"] = "Admin | Manage Users and Roles";
}

<h1 class="mb-2">Manage Users</h1>

<h5 class="mt-2"><a asp-area="" asp-controller="User" asp-action="Add">Register a User</a></h5>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>Username</th>
            <th>Roles</th>
            <th>Delete</th>
            <th>Add Role</th>
            <th>Remove Role</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Users.Any())

        {
            <tr>
                <td colspan="5">There are no user accounts.</td>
            </tr>
        }

        else

        {
            @foreach (var user in Model.Users)

            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        @foreach (var roleName in user.RoleNames ?? Enumerable.Empty<string>())

                        {
                            <div>@roleName</div>
                        }
                    </td>
                    <td>
                        <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-danger">Delete User</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="AddRoleToUser">
                            <select name="roleName" class="form-select" required>
                                <option value="">Select Role</option>
                                @foreach (var role in Model.Roles)

                                {
                                    <option value="@role.Name">@role.Name</option>
                                }
                            </select>
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-primary mt-2">Add Role</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="RemoveRoleFromUser">
                            <select name="roleName" class="form-select" required>
                                <option value="">Select Role</option>
                                @foreach (var role in user.RoleNames ?? Enumerable.Empty<string>())

                                {
                                    <option value="@role">@role</option>
                                }
                            </select>
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-danger mt-2">Remove Role</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1 class="mb-2">Manage Roles</h1>

@if (!Model.Roles.Any())

{
    <form method="post" asp-action="CreateAdminRole">
        <button type="submit" class="btn btn-primary">Create Admin Role</button>
    </form>
}

else

{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Role</th>
                <th>Claims</th>
                <th>Delete Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)

            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <a asp-controller="RoleClaim" asp-action="Index" class="btn btn-secondary">Manage Claims</a>
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                            <button type="submit" class="btn btn-danger">Delete Role</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="@Url.Action("Index", "Dashboard")" class="btn btn-secondary mt-4">Back to Dashboard</a>
