@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    var currentUser = await userManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Security_Guard.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>

    <header >
        <nav class="navbar navbar-expand-md border-bottom ">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="logo" src="~/Logo.png" width="40" class="me-2" alt="Logo" />
                <strong>Security Guard</strong>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" asp-area="" asp-controller="Scan" asp-action="Index">Scan</a>
                    </li>
                                        <li class="nav-item">
                        <a class="nav-link text-success" asp-area="" asp-controller="Pricing" asp-action="Index">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Download" asp-action="Index">Download</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Articles" asp-action="Index">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Articles" asp-action="Index2">Articles2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                        @if (currentUser != null && await userManager.IsInRoleAsync(currentUser, "Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="AdminDashboard" asp-action="Index">Manage Data</a>
                            </li>
                                                        <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="AdminDashboard" asp-action="Index2">Manage Data2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">Manage Users</a>
                            </li>
                        }
                        
                </ul>
                    
                <div class="ms-md-auto">
                        <div class="btn dropdown">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="bi bi-palette"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#" id="darkMode">
                                        <i class="bi bi-moon-stars-fill"></i> Dark
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" id="lightMode">
                                        <i class="bi bi-brightness-high-fill"></i> Light
                                    </a>
                                </li>
                            </ul>
                        </div>


                        @if (signInManager.IsSignedIn(User))
                        {
                            <div class="nav-item d-inline">
                                <a class="btn" style="border-radius: 50%" data-bs-toggle="dropdown">
                                    <img src="@currentUser.ImageURL" style="" alt="User Image" width="30" class="rounded-circle user-image" />
                                </a>
                                
                                    <div style="margin-left: 83%;" class=" dropdown-menu dropdown-menu-right text-center">
                                    <div class="dropdown-header text-center">
                                        <p class="dropdown-user-name">@currentUser.Email</p>
                                        <img src="@currentUser.ImageURL" alt="User Image" width="70" class="rounded-circle user-image-dropdown" />
                                    </div>
                                    <h5 class="text-warning">Hi, @User.Identity.Name !</h5>
                                    <a class="btn btn-outline-warning rounded dropdown-item" asp-controller="Account" asp-action="UpdateProfile">Manage Account</a>
                                    <a class="btn btn-outline-warning rounded dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                                    <div class="dropdown-divider"></div>
                                    <form method="post" asp-action="Logout" asp-controller="Account" asp-area="">
                                        <input type="submit" value="Sign Out" class="btn btn-outline-warning" />
                                    </form>
                                
                                </div>
                            </div>

                        } else {

                            <a class="btn btn-outline-warning me-2" asp-area="" asp-controller="Account" asp-action="Register">Sign in</a>
                            <a class="btn btn-warning me-2" asp-area="" asp-controller="Account" asp-action="Login">Sign Up</a>
                        }


                </div>
            </div>
        </div>
    </nav>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer fixed-bottom text-muted">
        <div class="container  ">
            &copy; @DateTime.Now.Year - Security Guard - <a class="text-warning" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
        </div>
    </footer>

    <script src="https://cdn.lordicon.com/lordicon.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            // Retrieve theme from localStorage on page load
            var currentTheme = localStorage.getItem('theme');
            if (currentTheme) {
                $("body").attr("data-bs-theme", currentTheme);
            }

            // Dark mode toggle script using jQuery
            $("#darkMode").click(function () {
                $("body").attr("data-bs-theme", "dark");
                // Save theme to localStorage
                localStorage.setItem('theme', 'dark');
            });

            $("#lightMode").click(function () {
                $("body").attr("data-bs-theme", "light");
                // Save theme to localStorage
                localStorage.setItem('theme', 'light');
            });
        });
    </script>
</body>
</html>


