@{
    ViewData["Title"] = "Neighbors";
}
<div class="container p-3">
    <div class="row">
        <div class="col">
            <h2>Top Enterprise-Level virus scanning websites</h2>
        </div>
        <div class="col text-end">
            <a class="btn btn-primary" role="button" asp-controller="Neighbors" asp-action="AddNeighbor">Add New</a>
        </div>
    </div>
</div>

<hr />
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Warning!</strong> We are not responsible for their scanning, we are sharing them to benefit you only!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container">
    <div class="row">
        @{
            foreach (var Neighbor in ViewBag.Neighbors)
            {
                string imagePath = "~/Neighbors/" + Neighbor.Name + ".png";
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="@Url.Content(imagePath)" alt="Image for @Neighbor.Name" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@Neighbor.Name</h5>
                            @{
                                for (var c = 0; c < Neighbor.Rating; c++)
                                {
                                    <i class="fa fa-star" style="color: #ede332;" aria-hidden="true"></i>
                                }
                            }
                            <div class="mt-1">
                            <a class="btn btn-primary" role="button" asp-controller="Neighbors" asp-action="ViewNeighbor" asp-route-id="@Neighbor.Id">View</a>
                            <a class="btn btn-outline-danger" asp-controller="Neighbors" asp-action="Delete" asp-route-id="@Neighbor.Id">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
