@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager
@{
    var message = TempData["Message"] as string;
    var state = TempData["state"] as string;
    var currentUser = await userManager.GetUserAsync(User);

    Layout = "";
    // File Counting
    int dangerFilesCount = 0;
    int ambigiousFilesCount = 0;
    int safeFilesCount = 0;
    int fileScans = 0;

    foreach (var file in Model.Files)
    {
        if (file.Status == "danger")
        {
            dangerFilesCount++;
            fileScans++;
        }
        if (file.Status == "safe")
        {
            safeFilesCount++;
            fileScans++;
        }
        if (file.Status == "ambigious")
        {
            ambigiousFilesCount++;
            fileScans++;
        }
    }

    //Links Counting
    int dangerLinksCount = 0;
    int ambigiousLinksCount = 0;
    int safeLinksCount = 0;
    int linkScans = 0;

    foreach (var link in Model.Links)
    {
        if (link.Status == "danger")
        {
            dangerLinksCount++;
            linkScans++;
        }
        if (link.Status == "safe")
        {
            safeLinksCount++;
            linkScans++;
        }
        if (link.Status == "ambigious")
        {
            ambigiousLinksCount++;
            linkScans++;
        }
    }
    int safeScansCount = safeLinksCount + safeFilesCount;
    int dangerScansCount = dangerFilesCount + dangerLinksCount;
    int ambigiousScansCount = ambigiousFilesCount + ambigiousLinksCount;
    int scansCount = safeScansCount + dangerScansCount + ambigiousScansCount;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Logo.png" alt="Security Guard" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class=" fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-area="default" asp-controller="Home" asp-action="Index" class=" nav-link"><strong>Home</strong></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="mailto:Shmaisanimostafa@gmail.com" class="btn  nav-link"><strong>Email CEO</strong></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a class="nav-link text-info" asp-action="AddFile" asp-controller="AdminDashboard" asp-area="Admin">
                        Add File
                    </a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a class="nav-link text-info" asp-action="AddLink" asp-controller="AdminDashboard" asp-area="Admin">
                        Add Link
                    </a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-area="default" asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/Logo.png" alt="Security Guard" width="40" class="brand-logo me-3">
                <strong class="brand-text">Security Guard</strong>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@currentUser.ImageURL" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a asp-area="" asp-controller="Account" asp-action="UpdateProfile" class="d-block">@User.Identity.Name</a>
                    </div>
                </div>
                <ul class="nav nav-pills nav-sidebar flex-column">
                    <li class="nav-item">
                        <a asp-area="Admin" asp-action="Index" asp-controller="User" class="nav-link">
                            <i class="nav-icon bi bi-people"></i>
                            <p>Manage Users</p>
                        </a>
                    </li>
                </ul>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-header">Database Entities</li>

                        <li class="nav-item">
                            <a href="#" class="nav-link" onclick="openDataset(event, 'All')">
                                <i class="bi bi-database"></i>
                                <p>Files & Links</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link" onclick="openDataset(event, 'Links')">
                                <i class="nav-icon bi bi-link-45deg"></i>
                                <p>Links</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" onclick="openDataset(event, 'Files')">
                                <i class="nav-icon bi bi-file-break"></i>
                                <p>Files</p>
                            </a>
                        </li>
                        <li class="nav-header">Filters</li>
                        <li class="nav-item">
                            <div class="row">
                                <i class="nav-icon bi bi-shield-check text-success"></i>
                                <p class="text-success">Safe</p>
                            </div>
                            <p class="text-light">Type safe in the search bar!</p>
                        </li>
                        <li class="nav-item">
                            
                                <i class="nav-icon text-danger bi bi-shield-x"></i>
                            <p class="text-danger">Danger</p>
                            
                            <p class="text-light">Type danger in the search bar!</p>
                        </li>
                        <li class="nav-item">
                            
                                <i class="nav-icon text-warning bi bi-shield-exclamation"></i>
                            <p class="text-warning">Ambigious</p>
                            
                            <p class="text-light">Type ambigious in the search bar!</p>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Dashboard</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6 alert alert-secondary">
                            <p class="m-0 text-warning">Be perfect while interacting with data</p>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-6">

                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>@scansCount</h3>

                                    <p>Scans</p>
                                </div>
                                <div class="icon size-40">
                                    <i class="bi bi-upc-scan"></i>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">


                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>@safeScansCount</h3>

                                    <p>Safe Scans</p>
                                </div>
                                <div class="icon size-40">
                                    <i class="bi bi-safe"></i>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">


                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>@ambigiousScansCount</h3>
                                    <p>Ambigious Scans</p>
                                </div>
                                <div class="icon size-40">
                                    <i class="bi bi-exclamation-triangle"></i>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">

                            <!-- small box -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>@dangerScansCount</h3>

                                    <p>Danger Scans</p>
                                </div>
                                <div class="icon size-40">
                                    <i class="bi bi-radioactive"></i>
                                </div>

                            </div>
                        </div>
                        <!-- ./col -->
                    </div>

                    <div class="text-center alert alert-@state alert-dismissible fade show" role="alert">
                        <strong>Response!</strong> @message
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <!-- /.row -->
                    <div id="All" class="tabcontent">
                        <!-- Main content -->
                        @await Html.PartialAsync("_FilesLinksDataTable")
                    </div>
                    <div id="Links" class="tabcontent">
                        @await Html.PartialAsync("_LinksDataTable");
                    </div>
                    <div id="Files" class="tabcontent">
                        @await Html.PartialAsync("_FilesDataTable");
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2023-@DateTime.Now.Year <a class="text-warning" href="https://adminlte.io">Security Guard</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)

    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This
    is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <!-- Page specific script -->
    <script>
        function openDataset(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("nav-link");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        window.onload = function () {
            // Trigger the function with the default tab name ('All')
            openDataset(event, 'All');
        };
    </script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $("#example2").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
            $("#example3").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example3_wrapper .col-md-6:eq(0)');
        });

    </script>
</body>
</html>
